* {
    margin: 0;
    font-family: 'Sora', sans-serif;
}

body {
    background-color: #2f2f2f;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #1f1f1f;
}

header a {
    text-decoration: none;
}

.container {
    width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-family: 'Sora', sans-serif;
    color: #fff;
    font-weight: 300;
}

.logo img {
    height: 40px;
}

.brand {
    margin-left: 10px;
    text-decoration: none;
}

.menu ul{
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 18px;
    font-weight: 200;
}

.menu ul li {
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
}

.menu a {
    color: #fff;
    padding: 10px;
}
.menu a:hover {
    color: #f5da28;
}

.material-symbols-outlined {
    color: #e5c605;
    font-size: 40px;
}

#principal {
    width: 100%;
    height: 700px;
    background: linear-gradient(#000000b0, #000000b0), url("/assets/images/zentorno1.jpg");
    /* background-size: cover; */
    background-position: center;
    background-color: #0000003b;
    display: flex;
    justify-content: center;
}
/* #principal:hover {

} */

#principal .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.car-name {
    color: #fff;
    font-size: 60px;
    margin-top: 250px;
    font-weight: bold;
    width: 800px;
}

.car-header {
    font-size: 20px;
}

.car-info {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.numbers {
    flex: 1;
    height: 80px;
    color: #fff;
    padding: 30px;
    font-size: 15px;
}

.number-value {
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
}

#second {
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.text {
    flex-direction: column;
}

.section-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-image {
    flex: 1;
}
.car-image img {
    display: block;
    width: 100%;
    min-height: auto;
}

.car-text {
    flex: 1;
}
.car-text h2,
.car-text p {
    padding-left: 30px;
    padding-right: 30px;
}
.car-text h2 {
    margin-bottom: 10px;
}
.car-text p {
    font-size: 13px;
    line-height: 22px;
}
.car-text:hover {
    color: #1f1f1f;
}


#options {
    height: 250px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.option {
    justify-content: space-around;
}
.option a {
    width: 250px;
    text-decoration: none;
    color: #000;
}
.option-box {
    flex: 1;
    text-align: center;
}
.option-box:hover {
    background-color: #fafafa;
}

.option-box img {
    width: 100px;
    padding: 10px;
    transition: all 500ms;
}
.option-box img:hover {
    transform: rotate(5deg);
    transition: all 500ms;
    width: 110px;
    padding-top: 0;
    padding-bottom: 12px;
}

footer {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: #fff;
}
footer a:hover {
    text-decoration: underline;
}

footer div {
    font-size: 13px;
    font-weight: 200;
}

.social a {
    margin-left: 5px;
    margin-right: 5px;
}

address {
    font-style: normal;
    text-align: center;
}
.author div {
    margin: 5px;
}